{% load static %}

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Tomaz Mayr Lobato Nascimento </h1>
  <img src="https://conteudo.imguol.com.br/c/esporte/9f/2023/03/18/cano-do-fluminense-celebra-seu-gol-contra-o-volta-redonda-no-carioca-1679172123495_v2_450x600.jpg" alt="Jogador caro"> 
  <p><b>Germán Cano:</b> Uma biografia do argentino mais querido do Brasil.</p>
  <i>Germán Cano é um jogador de futebol profissional colombiano nascido em 2 de janeiro de 1988. Ele é conhecido por sua habilidade como atacante e é atualmente um dos principais artilheiros do futebol brasileiro. Cano começou sua carreira na Colômbia, jogando pelo Club Deportivo Los Millonarios e pelo Deportivo Pereira, antes de se mudar para o futebol mexicano, onde jogou pelo Pachuca e pelo León. Em 2020, ele foi contratado pelo Vasco da Gama, onde rapidamente se tornou um jogador chave da equipe. Sua habilidade em marcar gols o tornou um dos <u>favoritos</u> dos torcedores e um dos melhores jogadores da equipe. </i>
  <a href="https://www.transfermarkt.com.br/german-cano/leistungsdaten/spieler/54590" target="_blank"> Saiba mais sobre os feitos do artilheiro </a> 
  <p>Características do jogador:</p> 
  <ul> 
  <li>Artilheiro </li>
  <li>Matador </li>
  <li>Caçador de urubu </li>
  <li>Bonitão </li>
  </ul>
  <p>Principais Vítimas do camisa 14 em 2022:</p>
  <ol>
  <li>Flamengo </li>
  <li>Corinthians </li>
  <li>São Paulo </li>
  </ol>
  <table>
      <tr>
        <th>Posição</th>
        <th>Jogador</th>
        <th>Time</th>
        <th>Gols</th>
      </tr>
      <tr>
        <td>1º</td>
        <td>German Cano</td>
        <td>Fluminense</td>
        <td>44</td>
      </tr>
      <tr>
        <td>2º</td>
        <td>Pedro </td>
        <td>Flamengo</td>
        <td>30</td>
      </tr>
      <tr>
        <td>3º</td>
        <td>Hulk</td>
        <td>Atletico Mineiro</td>
        <td>29</td>
      </tr>
      <tr>
        <td>4º</td>
        <td>Gabriel Barbosa</td>
        <td>Flamengo</td>
        <td>29</td>
      </tr>
      <tr>
        <td>5º</td>
        <td>Jonathan Calleri</td>
        <td>Sao Paulo</td>
        <td>27</td>
      </tr>
    </table>
</body>

</html>